In [31]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [51]:
data =pd.read_csv(r"C:\Users\pradeep\OneDrive\Desktop\housing.csv")

In [52]:
data

        RM  LSTAT  PTRATIO    MEDV
0    6.575   4.98     15.3  504000
1    6.421   9.14     17.8  453600
2    7.185   4.03     17.8  728700
3    6.998   2.94     18.7  701400
4    7.147   5.33     18.7  760200
..     ...    ...      ...     ...
484  6.593   9.67     21.0  470400
485  6.120   9.08     21.0  432600
486  6.976   5.64     21.0  501900
487  6.794   6.48     21.0  462000
488  6.030   7.88     21.0  249900

[489 rows x 4 columns]

In [53]:
data.head()

      RM  LSTAT  PTRATIO    MEDV
0  6.575   4.98     15.3  504000
1  6.421   9.14     17.8  453600
2  7.185   4.03     17.8  728700
3  6.998   2.94     18.7  701400
4  7.147   5.33     18.7  760200

In [55]:
plt.scatter(data['RM'] , data['MEDV'])

TypeError: 'tuple' object is not callable

TypeError: 'tuple' object is not callable